#contact-section {
  margin-top: 100px !important;
  .social-media {
    span {
      margin: 10px;
      background-color: $primary;
      color: $white;
      padding: 6px 8px;
      border-radius: 10px;
    }
  }
}